<launch>
	<!-- Launch the state readers and publishers -->
	<node pkg="aerolab" type="hbirdbState" name="hbirdbState" respawn="true" />
	<node pkg="aerolab" type="hbirddgState" name="hbirddgState" respawn="true" />

	<!-- Launch the state publishers sent by matlab -->
	<node pkg="aerolab" type="hbirdbPub" name="hbirdbPub" respawn="true" />
	<node pkg="aerolab" type="hbirddgPub" name="hbirddgPub" respawn="true" />

</launch>